[submodule "basis_programmeren/2324-1"]
	path = syllabi/basis_programmeren/2324-1
	url = https://github.com/qhinf/basis_programmeren_syllabus.git
	branch = 2324-1
[submodule "processing/2223-2"]
	path = syllabi/processing/2223-2
	url = https://github.com/qhinf/processing_syllabus.git
	branch = 2223-2
[submodule "processing/2324-1"]
	path = syllabi/processing/2324-1
	url = https://github.com/qhinf/processing_syllabus.git
	branch = 2324-1
[submodule "basis_cs/2324-1"]
	path = syllabi/basis_cs/2324-1
	url = https://github.com/qhinf/basis_cs_syllabus.git
	branch = 2324-1
[submodule "project/2324-1"]
	path = syllabi/project/2324-1
	url = https://github.com/qhinf/project_syllabus.git
	branch = 2324-1
[submodule "pythonplus/2324-1"]
	path = syllabi/pythonplus/2324-1
	url = https://github.com/qhinf/pythonplus_syllabus.git
	branch = 2324-1
[submodule "basis_cs/2324-2"]
	path = syllabi/basis_cs/2324-2
	url = https://github.com/qhinf/basis_cs_syllabus.git
	branch = 2324-2
[submodule "computer_arch/2324-2"]
	path = syllabi/computer_arch/2324-2
	url = https://github.com/qhinf/computer_arch_syllabus.git
	branch = 2324-2
[submodule "basis_programmeren/2324-2"]
	path = syllabi/basis_programmeren/2324-2
	url = https://github.com/qhinf/basis_programmeren_syllabus.git
	branch = 2324-2
[submodule "processing/2324-2"]
	path = syllabi/processing/2324-2
	url = https://github.com/qhinf/processing_syllabus.git
	branch = 2324-2
[submodule "project/2324-2"]
	path = syllabi/project/2324-2
	url = https://github.com/qhinf/project_syllabus.git
	branch = 2324-2
[submodule "webdesign/2324-1"]
	path = syllabi/webdesign/2324-1
	url = https://github.com/qhinf/webdesign_syllabus.git
	branch = 2324-1
[submodule "webdesign/2324-2"]
	path = syllabi/webdesign/2324-2
	url = https://github.com/qhinf/webdesign_syllabus.git
	branch = 2324-2
[submodule "computer_arch/2324-3"]
	path = syllabi/computer_arch/2324-3
	url = https://github.com/qhinf/computer_arch_syllabus.git
	branch = 2324-3
[submodule "computational_science/2324-3"]
	path = syllabi/computational_science/2324-3
	url = https://github.com/qhinf/computational_science_syllabus.git
	branch = 2324-3
[submodule "basis_cs/2324-3"]
	path = syllabi/basis_cs/2324-3
	url = https://github.com/qhinf/basis_cs_syllabus.git
	branch = 2324-3
[submodule "basis_programmeren/2324-3"]
	path = syllabi/basis_programmeren/2324-3
	url = https://github.com/qhinf/basis_programmeren_syllabus.git
	branch = 2324-3
[submodule "project/2324-3"]
	path = syllabi/project/2324-3
	url = https://github.com/qhinf/project_syllabus.git
	branch = 2324-3
[submodule "security/2324-3"]
	path = syllabi/security/2324-3
	url = https://github.com/qhinf/security_syllabus.git
	branch = 2324-3
[submodule "pythonplus/2324-4"]
	path = syllabi/pythonplus/2324-4
	url = https://github.com/qhinf/pythonplus_syllabus.git
	branch = 2324-4
[submodule "basis_cs/2324-4"]
	path = syllabi/basis_cs/2324-4
	url = https://github.com/qhinf/basis_cs_syllabus.git
	branch = 2324-4
[submodule "basis_programmeren/2324-4"]
	path = syllabi/basis_programmeren/2324-4
	url = https://github.com/qhinf/basis_programmeren_syllabus.git
	branch = 2324-4
[submodule "project/2324-4"]
	path = syllabi/project/2324-4
	url = https://github.com/qhinf/project_syllabus.git
	branch = 2324-4
[submodule "fil_tech/2324-4"]
	path = syllabi/fil_tech/2324-4
	url = https://github.com/qhinf/fil_tech_syllabus.git
	branch = 2324-4
[submodule "ai/2324-3"]
	path = syllabi/ai/2324-3
	url = https://github.com/qhinf/ai_syllabus.git
	branch = 2324-3
[submodule "databases/2324-4"]
	path = syllabi/databases/2324-4
	url = https://github.com/qhinf/databases_syllabus.git
	branch = 2324-4
[submodule "linux_servers/2324-4"]
	path = syllabi/linux_servers/2324-4
	url = https://github.com/qhinf/linux_servers_syllabus.git
	branch = 2324-4
[submodule "javascript/2324-4"]
	path = syllabi/javascript/2324-4
	url = https://github.com/qhinf/javascript_syllabus.git
	branch = 2324-4
[submodule "security/2425-1"]
	path = syllabi/security/2425-1
	url = https://github.com/qhinf/security_syllabus.git
	branch = 2425-1
[submodule "basis_cs/2425-1"]
	path = syllabi/basis_cs/2425-1
	url = https://github.com/qhinf/basis_cs_syllabus.git
	branch = 2425-1
[submodule "project/2425-1"]
	path = syllabi/project/2425-1
	url = https://github.com/qhinf/project_syllabus.git
	branch = 2425-1
[submodule "pythonplus/2425-1"]
	path = syllabi/pythonplus/2425-1
	url = https://github.com/qhinf/pythonplus_syllabus.git
	branch = 2425-1
[submodule "basis_programmeren/2425-1"]
	path = syllabi/basis_programmeren/2425-1
	url = https://github.com/qhinf/basis_programmeren_syllabus.git
	branch = 2425-1
[submodule "webdesign/2425-1"]
	path = syllabi/webdesign/2425-1
	url = https://github.com/qhinf/webdesign_syllabus.git
	branch = 2425-1
[submodule "processing/2425-1"]
	path = syllabi/processing/2425-1
	url = https://github.com/qhinf/processing_syllabus.git
	branch = 2425-1
[submodule "databases/2425-1"]
	path = syllabi/databases/2425-1
	url = https://github.com/qhinf/databases_syllabus.git
	branch = 2425-1
[submodule "cryptografie_getaltheorie/2425-2"]
	path = syllabi/cryptografie_getaltheorie/2425-2
	url = https://github.com/qhinf/cryptografie_getaltheorie_syllabus.git
	branch = 2425-2
[submodule "security/2425-2"]
	path = syllabi/security/2425-2
	url = https://github.com/qhinf/security_syllabus.git
	branch = 2425-2
[submodule "computer_arch/2425-2"]
	path = syllabi/computer_arch/2425-2
	url = https://github.com/qhinf/computer_arch_syllabus.git
	branch = 2425-2
[submodule "basis_programmeren/2425-2"]
	path = syllabi/basis_programmeren/2425-2
	url = https://github.com/qhinf/basis_programmeren_syllabus.git
	branch = 2425-2
[submodule "project/2425-2"]
	path = syllabi/project/2425-2
	url = https://github.com/qhinf/project_syllabus.git
	branch = 2425-2
[submodule "basis_cs/2425-2"]
	path = syllabi/basis_cs/2425-2
	url = https://github.com/qhinf/basis_cs_syllabus.git
	branch = 2425-2
[submodule "webdesign/2425-3"]
	path = syllabi/webdesign/2425-3
	url = https://github.com/qhinf/webdesign_syllabus.git
	branch = 2425-3
[submodule "security/2425-3"]
	path = syllabi/security/2425-3
	url = https://github.com/qhinf/security_syllabus.git
	branch = 2425-3
[submodule "project/2425-3"]
	path = syllabi/project/2425-3
	url = https://github.com/qhinf/project_syllabus.git
	branch = 2425-3
[submodule "basis_cs/2425-3"]
	path = syllabi/basis_cs/2425-3
	url = https://github.com/qhinf/basis_cs_syllabus.git
	branch = 2425-3
[submodule "computer_arch/2425-3"]
	path = syllabi/computer_arch/2425-3
	url = https://github.com/qhinf/computer_arch_syllabus.git
	branch = 2425-3
[submodule "basis_programmeren/2425-3-branch"]
	path = syllabi/basis_programmeren/2425-3-branch
	url = https://github.com/qhinf/basis_programmeren_syllabus.git
	branch = 2425-3-branch
