[submodule "basis_programmeren/2324-1"]
	path = syllabi/basis_programmeren/2324-1
	url = https://github.com/qhinf/basis_programmeren_syllabus.git
	branch = 2324-1
[submodule "processing/2223-2"]
	path = syllabi/processing/2223-2
	url = https://github.com/qhinf/processing_syllabus.git
	branch = 2223-2
[submodule "processing/2324-1"]
	path = syllabi/processing/2324-1
	url = https://github.com/qhinf/processing_syllabus.git
	branch = 2324-1
[submodule "basis_cs/2324-1"]
	path = syllabi/basis_cs/2324-1
	url = https://github.com/qhinf/basis_cs_syllabus.git
	branch = 2324-1
[submodule "project/2324-1"]
	path = syllabi/project/2324-1
	url = https://github.com/qhinf/project_syllabus.git
	branch = 2324-1
[submodule "pythonplus/2324-1"]
	path = syllabi/pythonplus/2324-1
	url = https://github.com/qhinf/pythonplus_syllabus.git
	branch = 2324-1
