<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Q-highschool Informatica</title>
</head>
<body>
    <header>
        <h1>Q-highschool Informatica</h1>
    </header>
    <main>
        <p>Kies een module:</p>
        <ul class="module_list">
            {% for module in modules %}
                <li>
                    <a href="{{ module.slug }}/{{ module.versions[0].slug }}">{{ module.title }}</a>
                    <details>
                        <summary>Alle versies</summary>
                        <ul>
                        {% for version in module.versions %}
                            <li><a href="{{ module.slug }}/{{ version.slug }}">{{ version.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </details>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
