<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ module.title }} - {{ block.title }}</title>
    <link rel="stylesheet" type="text/css" href="../../pico.min.css">
    <link rel="stylesheet" type="text/css" href="../../style.css">
</head>
<body>
    <header class="container">
        <h1 class="logo"><img src="../../q-vak-inf.svg" alt="Q-vak Informatica" /></h1>
    </header>
    <main class="container">
        <h2>{{ module.title }} / {{ block.title }}</h2>
        <p>Kies jouw editie:</p>
        <div class="modules grid">
            {% for edition in block.editions %}
                <article data-title="{{ edition.title }}" data-slug="{{ edition.slug }}">
                    <header
                    {% if module.banner %}
                        style="background-image: url(../../{{ module.banner }});"
                    {% elif module.color %}
                        style="background-color: {{ module.color }};"
                    {% endif %}   
                    >
                    {% if module.logo %}
                        <img class="logo" alt="Logo voor {{ module.title }}" src="../../{{ module.logo }}" />
                    {% endif %}
                    </header>
                    <a href="../{{ edition.slug }}">
                        <hgroup>
                            <h3>{{ module.title }} ({{ edition.title }})</h3>
                            <p>{{ block.title }}</p>
                        </hgroup>
                    </a>
                </article>
            {% endfor %}
        </div>
    </main>
</body>
</html>
